html {
  margin: 0;
  padding: 0;
  background: #77797c;
}

body {
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
  background: #ffffff;
}

header {
  background: #1C6677;
  padding: 0.75em 0;
}

header h1,
header h2 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  margin: 0;
  padding: 5px;
}

section {
  padding: 0 15px;
}

section:first-of-type {
  margin-top: 15px;
}

section:last-of-type {
  padding-bottom: 15px;
}

section > div,
section > select {
  margin-bottom: 10px;
}

h3  {
  background: #D25D28;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  padding: 5px 15px;
}

h3:first-of-type {
  margin-top: 0;
}

h3:last-of-type,
#printForm {
  margin-bottom: 0;
}

select,
button {
  cursor: pointer;
}

.required {
  vertical-align: super;
  font-weight: bold;
  color: #d02323;
}

.optional {
  border: 2px solid #70A43F;
  border-radius: 5px;
  padding: 15px;
}

.optional div {
  margin-bottom: 10px;
}

.optional div:last-of-type {
  margin-bottom: 0;
}

.optionalLabel {
  border: 2px solid #70A43F;
  background: #70A43F;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px;
}

.invalidInput {
  padding: 3px;
  border: 2px solid #d02323;
  border-radius: 3px;
}

.instructions {
  padding-bottom: 7px;
}

#to, #from, #staffInit {
  text-transform: uppercase;
}

#ckiBySorterLabel {
  font-weight: bold;
  cursor: pointer;
}

#printForm {
  cursor: pointer;
  text-align: center;
  background: #1c6677;
}

#startOver {
  cursor: pointer;
  text-align: center;
  background: #782c54;
}

#printForm:hover:before,
#startOver:hover:before {
  content: "― ";
}

#printForm:hover:after,
#startOver:hover:after {
  content: " ―";
}

#instructions {
  text-align: center;
  background: #70A43F;
}
