input {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
}

button {
  margin-top: 1em;
}

table td {
  padding-right: 1em;
}

#shortcutLinkTable td:first-child {
  text-align: center;
  font-weight: bold;
}

#shortcutLinkTable input {
  cursor: text;
  border: solid 2px #000;
  border-radius: 5px;
  padding: 2px;
  width: 250px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1c6677;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c6677;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  transform: translateX(13px);
}

/* Fieldset & Legend */
fieldset {
  border: 2px solid #444;
  border-radius: 5px;
  margin-top: 1em;
  padding: 15px;
}
legend {
  border: 2px solid #444;
  background: #444;
  color: #fefefe;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px;
}
